.navbar-home {
    background-color: #641010;
    border-color: none;
    border-radius: 0px;
    border: none;
    margin: 0px;
}

.navbar-home .navbar-nav>li>a {
    color: #fff;
}

.navbar-home .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.carousel-content {
    height: 550px;
}

.about-pizza{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.pizza-types{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer{
    background-color: #641010;
    padding: 1.5rem 0;
    color: white;
}